include header


section.advant-section
	.container
		.services_head
			h1.h2 Помощь при ДТП – АвтоАдвокат
		img.img-big(src="img/auto-advocat.jpg", alt="Помощь при ДТП - АвтоАдвокат")
		p 
			strong Виды предоставляемых услуг:
		
		ul
			li Вождение в состоянии алкогольного или наркотического опьянения;
			li Споры со страховыми компаниями по ОСАГО и КАСКО;
			li Споры по автомобилям на иностранной регистрации;
			li ДТП с потерпевшими;
			li Другие споры по ДТП.

include footer