include header


section.advant-section
	.container
		.services_head
			h1.h2 АДВОКАТ ПО УГОЛОВНЫМ ДЕЛАМ
		img.img-big(src="img/criminal-proceedings.jpg", alt="АДВОКАТ ПО УГОЛОВНЫМ ДЕЛАМ")
		p Любой человек не застрахован от ситуаций, когда ему может срочно понадобиться помощь
			strong &nbsp;адвоката по уголовным делам
			| .
		p При разрешении вопросов, связанные с уголовным производством, обязательно требуется приглашение адвоката (защитника), так как без квалифицированной юридической помощи адвоката, подзащитный, как правило, дает показания, или совершает иные действия, которые могут существенно ухудшить его положение по уголовному производству.
		p Обратившись ко мне, вы найдете компетентного и ответственного адвоката по уголовным делам , а также надежного союзника, которому Вы сможете доверять. Цель деятельности адвоката по уголовным делам состоит в выявлении обстоятельств, оправдывающих подзащитного или смягчающих его ответственность.
		p
			strong Помощь адвоката по защите интересов клиента  по уголовным делам состоит из следующих основных этапов:
		ul
			li Защита по уголовным делам на следствии;
			li Защита по уголовным делам в суде;
			li Обжалование приговоров в вышестоящие инстанции;
			li Помощь потерпевшим по уголовным делам;
			
			li Предоставление правовой помощи при задержании клиента;
			li Защита интересов подзащитного на стадии досудебного следствия, в ходе проведения следственных действий;
			li Посещение подозреваемого, обвиняемого в следственном изоляторе для разработки стратегии защиты и линии поведения клиента;
			li Обжалование постановлений об избрании меры пресечения (содержание под стражей);
			li Представление интересов потерпевшего по уголовному производству (возмещение материального и морального ущерба);
			li Участие в судебном производстве (с применением практики ВСУ);
			li Представление интересов клиента на стадии апелляционного и кассационного рассмотрения дела.
		p
			strong Я всегда активно отстаиваю свою правовую позицию и настойчиво требую соблюдения прав подзащитного.

include footer