include header


section.advant-section
	.container
		.services_head
			h1.h2 Споры с банками и МФО
		img.img-big(src="img/disputes-with-banks.jpg", alt="Споры с банками и МФО")
		p 
			strong Виды предоставляемых услуг:
		ul
			li Списание долгов по кредитам и микрозаймам;
			li Удаление персональных данных с баз коллекторов;
			li Обжалование исполнительной надписи нотариуса;
			li Кредитный лимит;
			li Поручительство;
			li Ипотека;
			li Другие споры с банками и мфо.
            
include footer