include header


section.advant-section
	.container
		.services_head
			h1.h2 Семейные споры
		img.img-big(src="img/family-disputes.jpg", alt="Семейные споры")
		//- p
		//- 	strong Адвокат по семейным делам
		//- 	|  – это своего рода психолог. Нередко приходится становиться участником семейных драм. Зачастую люди, вовлеченные в процесс развода, находятся в эмоционально нестабильном состоянии. А значит, они не могут в полной мере адекватно оценивать как свои поступки, так и действия супруга.
		//- p Своевременное обращение к адвокату по семейным делам позволит Вам не только отстоять свои нарушенные права, но и, что очень важно, предусмотреть и предотвратить возможное их нарушение в будущем.
		p
			strong Правовая помощь по семейным делам заключается в следующем:
		ul
			li Расторжение брака;
			li Раздел имущества;
			li Алименты;
			li Признание недействительным или расторжение брачного договора;
			li Установление места проживания ребенка;
			li Установление порядка встреч с ребенком
			li Установление или оспаривание отцовства;
			li Лишение родительских прав;
			li Получение разрешения на выезд ребенка за границу в судебном порядке;
			li Оформление ребенка в приемную семью;
			li Юридическая консультация по семейным вопросам;
			li Прочие услуги.

include footer