include header


section.advant-section
	.container
		.services_head
			h1.h2 Наследственные споры
		img.img-big(src="img/hereditary-disputes.jpg", alt="Наследственные споры")
		p 
			strong Виды предоставляемых услуг:
		
		ul
			li Восстановление сроков для принятия наследства;
			li Принятие наследства;
			li Оспаривание завещания;
			li Признание наследника недостойным;
			li Другие споры, вытекающие из наследственных правоотношений.

include footer