include header


section.advant-section
	.container
		.services_head
			h1.h2 Жилищные споры
		img.img-big(src="img/housing-disputes.jpg", alt="Жилищные споры")
		p 
			strong Виды предоставляемых услуг:
		
		ul
			li Выселение;
			li Вселение;
			li Установление порядка пользование жильем;
			li Устранение препятствий в пользовании жильем;
			li Признание утратившим право пользование жильем;
			li Снятие с регистрационного учета;
			li Другие жилищные споры.

include footer