include header


section.advant-section
	.container
		.services_head
			h1.h2 Адвокат по гражданским делам
		img.img-big(src="img/lawyer-in-civil-cases.jpg", alt="Адвокат по гражданским делам")
		p Разнообразие жизненных ситуаций, слабая ориентация в правовых вопросах требуют квалифицированных услуг 
			strong адвоката по гражданским делам
			| .
		strong Я, как опытный адвокат по гражданским делам, предоставляю следующий перечень юридических услуг:
		ul
			li Юридические услуги, связанные с наследством, в том числе признание завещания недействительным, продление срока на принятие наследства, отстранение от права на наследование, определение очереди на наследство, раздел наследства, установление факта принятия наследства, признание недействительным свидетельства о праве на наследство;
			li Признание права собственности;
			li Установление фактов, имеющих юридическое значение;
			li Выселение;
			li Признание сделки недействительной (в том числе признание договоров купли-продажи, дарения, обмена, пожизненного содержания, аренды, займа, лизинга, завещания недействительными);
			li Взыскание денежных средств, в том числе неустойки (штрафа, пени);
			li Истребование имущества из чужого незаконного владения;
			li Устранение препятствий в пользовании и распоряжении имуществом;
			li Защита чести и достоинства, деловой репутации;
			li Опровержение недостоверной информации, запрет на распространение информации, которая нарушает личные неимущественные права;
			li Нарушение прав интеллектуальной собственности, в том числе на литературные и художественные произведения, научные открытия, изобретения, полезные модели, промышленные образцы, рационализаторские предложения, торговые марки, компьютерные программы и др.;
			li Признание недействительным и отмена правового акта, который нарушает право собственности;
			li Признании недействительными кредитного договора, договоров поручительства, залога, ипотеки;
			li Возмещение материального и морального вреда;
			li Признание лица недееспособным;
			li Помощь в обжаловании правовых решений.

include footer