include header


section.advant-section
	.container
		.services_head
			h1.h2 Юридические консультации
		img.img-big(src="img/legal-services.jpg", alt="Юридические консультации")
		p 
			strong Виды предоставляемых услуг:
		
		ul
			li Устная консультация;
			li Письменная консультация;
			li Дистанционная консультация по телефону;
			li Консультация в офисе в городе Одессе по предварительной записи;
			li Консультация с выездом к клиенту.

include footer