include header


section.advant-section
	.container
		.services_head
			h1.h2 Перерасчет военных пенсий
		img.img-big(src="img/recalculation-of-military-pensions.jpg", alt="Перерасчет военных пенсий")
		p 
			strong Виды предоставляемых услуг:
		ul
			li Увеличение размера денежного обеспечения с 70% до 90%;
			li Получение новой справки о размере денежного обеспечения с учетом всех надбавок, повышений, доплат и премии;
			li Перерасчет военной пенсии на основании новой справки о размере денежного обеспечения.
		
include footer